@tailwind base;
@tailwind components;
@tailwind utilities;

/* WhatsApp Chat Styles */
#whatsapp-chat {
  @apply fixed w-[350px] rounded-lg shadow-lg bottom-[90px] right-[30px] overflow-hidden z-50 bg-white;
  animation: showchat 1s ease-in-out;
}

.whatsapp-chat-header {
  @apply bg-[#095e54] text-white p-5;
}

.whatsapp-chat-avatar {
  @apply relative;
}

.whatsapp-chat-avatar::after {
  @apply content-[''] absolute bottom-0 right-0 w-3 h-3 bg-[#4ad504] rounded-full border-2 border-[#095e54] left-10 top-[38px];
}

.whatsapp-chat-avatar img {
  @apply rounded-full w-[50px] float-left mr-2.5;
}

.whatsapp-chat-body {
  @apply p-5 bg-[#e6ddd4] relative;
}

.whatsapp-chat-body::before {
  @apply block absolute inset-0 z-0 opacity-[0.08];
  content: '';
  background-image: url("https://elfsight.com/assets/chats/patterns/whatsapp.png");
}

.blantershow-chat {
  @apply fixed flex items-center font-normal z-[98] bottom-[25px] right-[30px] text-[15px] px-5 py-2.5 rounded-[30px] shadow-lg bg-white text-[#404040];
}

.hide {
  @apply hidden;
  animation: showhide 0.5s ease-in-out;
}

.show {
  @apply block;
  animation: showhide 0.5s ease-in-out;
}

@keyframes showhide {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes showchat {
  from {
    transform: scale(0);
    opacity: 0;
  }
}

@media screen and (max-width: 480px) {
  #whatsapp-chat {
    @apply w-auto left-[5%] right-[5%] text-[80%];
  }
}
